/* ===== Universal Things ===== */
:root {
  --primary-yellow: #ffd300;
  --primary-darkYellow: #e4aa0b;
  --primary-blue: #2c3e50;
  --primary-green: #009432;
  --primary-red: #EA2027;
  --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
  --shadow-dark-3: 0 2rem 4rem rgba(0, 0, 0, .8);
  --shadow-dark-4: 0 1rem 2rem rgba(0, 0, 0, .6);
  --border-bottom-1: .2rem solid #000;
  --border-bottom-2: .2rem solid #ffd300;
  --border-bottom-3: .5rem solid #ffd300;
  --border-bottom-4: .1rem solid #ffd300;
  --border-bottom-5: .2rem solid #ffd300;
  --border-bottom-6: .2rem solid #40437c;
  --fs-heading-big: 4rem;
  --fs-heading: 3rem;
  --fs-title: 2.5rem;
  --fs-text-big: 2rem;
  --fs-text: 1.5rem; }

/* MEDIA QUERY SIZES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth; }
  @media screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Saira;
  background-color: var(--primary-blue);
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #38ef7d, #11998e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form-container {
    display: grid;
    grid-template-columns: 50rem;
    grid-template-rows: repeat(9, 1fr);
    background-color: #fff;
    box-shadow: var(--shadow-dark-3);
    padding: 5rem 25rem;
    grid-row-gap: 1rem; }
    .form-container_title {
      font-size: var(--fs-heading-big); }
    .form-container_undertitle {
      font-size: var(--fs-heading);
      align-self: center; }
    .form-container_username {
      align-self: end;
      font-size: var(--fs-text-big); }
      .form-container_username--input {
        padding: .5rem;
        padding-right: 0;
        outline: none;
        align-self: start;
        justify-self: start;
        font-family: 'Saira';
        font-size: var(--fs-text);
        transition: all .2s; }
      .form-container_username--input:focus {
        padding-right: 3rem; }
    .form-container_email {
      align-self: end;
      font-size: var(--fs-text-big); }
      .form-container_email--input {
        padding: .5rem;
        padding-right: 0;
        outline: none;
        align-self: start;
        justify-self: start;
        font-family: 'Saira';
        font-size: var(--fs-text);
        transition: all .2s; }
      .form-container_email--input:focus {
        padding-right: 3rem; }
    .form-container_password {
      align-self: end;
      font-size: var(--fs-text-big); }
      .form-container_password--input {
        padding: .5rem;
        padding-right: 0;
        outline: none;
        align-self: start;
        justify-self: start;
        font-family: 'Saira';
        font-size: var(--fs-text);
        transition: all .2s; }
      .form-container_password--input:focus {
        padding-right: 3rem; }
    .form-container_btn {
      box-shadow: var(--shadow-dark-4);
      cursor: pointer;
      outline: 0;
      border-radius: .3rem;
      border: none;
      font-family: 'Saira';
      font-size: var(--fs-text);
      color: #fff;
      background-image: linear-gradient(to right, #38ef7d, #11998e);
      transition: all .2s; }
    .form-container_btn:hover {
      transform: translateY(-1rem);
      box-shadow: var(--shadow-dark-2); }
