.form {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;


    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        background-color: #fff;
        box-shadow: var(--shadow-dark-3);
        padding: 5rem 25rem;
        // grid-area: "title"
        //     "title"
        //     "username"
        //     "username"
        //     "email"
        //     "email"
        //     "password"
        //     "password"
        //     "button";
        // grid-column-gap: 0px;
        grid-row-gap: 3.5rem;


        &_title {
            // grid-area: title;
            font-size: var(--fs-heading-big);
            align-self: center;
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }

        &_undertitle {
            font-size: var(--fs-heading);
            align-self: center;
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }

        &_fname {

            align-self: start;
            padding-bottom: 1rem;
            font-size: var(--fs-text-big);

            grid-column: 1 / 1;
            grid-row: 3 / 3;

            &--input {
                margin-top: 5rem;
                padding: .5rem;
                padding-right: 0;
                outline: none;
                grid-column: 1 / 1;
                grid-row: 3 / 3;

                align-self: end;
                justify-self: start;

                font-family: 'Saira';
                font-size: var(--fs-text);
                transition: all .2s;
            }

            &--input:focus {
                padding-right: 3rem;
            }
        }

        &_lname {
            align-self: start;
            padding-bottom: 1rem;
            font-size: var(--fs-text-big);

            grid-column: 2 / 2;
            grid-row: 3 / 3;

            &--input {
                margin-top: 5rem;
                padding: .5rem;
                padding-right: 0;
                outline: none;
                grid-column: 2 / 2;
                grid-row: 3 / 3;

                align-self: end;
                justify-self: start;

                font-family: 'Saira';
                font-size: var(--fs-text);
                transition: all .2s;
            }

            &--input:focus {
                padding-right: 3rem;
            }
        }


        &_username {
            align-self: start;
            padding-bottom: 1rem;
            font-size: var(--fs-text-big);

            grid-column: 1 / 1;
            grid-row: 4 / 4;

            &--input {
                margin-top: 5rem;
                padding: .5rem;
                padding-right: 0;
                outline: none;
                grid-column: 1 / 1;
                grid-row: 4 / 4;

                align-self: end;
                justify-self: start;

                font-family: 'Saira';
                font-size: var(--fs-text);
                transition: all .2s;
            }

            &--input:focus {
                padding-right: 3rem;
            }
        }

        &_email {
            align-self: start;
            padding-bottom: 1rem;
            font-size: var(--fs-text-big);

            grid-column: 2 / 2;
            grid-row: 4 / 4;

            &--input {
                margin-top: 5rem;
                padding: .5rem;
                padding-right: 0;
                outline: none;
                grid-column: 2 / 2;
                grid-row: 4 / 4;

                align-self: end;
                justify-self: start;

                font-family: 'Saira';
                font-size: var(--fs-text);
                transition: all .2s;
            }

            &--input:focus {
                padding-right: 3rem;
            }
        }

        &_password {
            align-self: start;
            padding-bottom: 1rem;
            font-size: var(--fs-text-big);

            grid-column: 1 / 1;
            grid-row: 5 / 5;

            &--input {
                margin-top: 5rem;
                padding: .5rem;
                padding-right: 0;
                outline: none;
                grid-column: 1 / 1;
                grid-row: 5 / 5;

                align-self: end;
                justify-self: start;

                font-family: 'Saira';
                font-size: var(--fs-text);
                transition: all .2s;
            }

            &--input:focus {
                padding-right: 3rem;
            }
        }

        &_repeatpassword {
            align-self: start;
            padding-bottom: 1rem;
            font-size: var(--fs-text-big);

            grid-column: 2 / 2;
            grid-row: 5 / 5;

            &--input {
                margin-top: 5rem;
                padding: .5rem;
                padding-right: 0;
                outline: none;
                grid-column: 2 / 2;
                grid-row: 5 / 5;

                align-self: end;
                justify-self: start;

                font-family: 'Saira';
                font-size: var(--fs-text);
                transition: all .2s;
            }

            &--input:focus {
                padding-right: 3rem;
            }
        }

        &_btn {
            // height: 6rem;
            // margin-top: 2rem;
            box-shadow: var(--shadow-dark-4);
            cursor: pointer;
           
            height: 70%;
            align-self: center;
            
            grid-column: 1 / span 2;
            grid-row: 6 / 6;
            
            outline: 0;
            border-radius: .3rem;
            border: none;
            
            font-family: 'Saira';
            font-size: var(--fs-text-big);
            

            color: #fff;
            background-image: linear-gradient(to right bottom, #38ef7d, #11998e);
            transition: all .2s;
        }

        &_btn:hover {
            transform: translateY(-1rem);
            box-shadow: var(--shadow-dark-2);
        }
    }
}